.todoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex:1 ;
  flex-wrap: wrap;
}

.btnContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex:1 ;
  flex-wrap: wrap;
}

.btn {
  background-color: darkslategray;
  color: white;
  border-radius: 4px;
  margin: 1vw;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
  width: 10%;
}
.btn:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}

.cards_done {
  background-color: lawngreen;
  border-radius: 4px;
  margin: 1vw;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
  width: 25%;
  height: 20vh;
  overflow: auto
}
.cards_done:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}
.cards_notDone {
  background-color: #FF6666;
  border: 3px solid #FF6666;
  border-radius: 4px;
  margin: 1vw;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
  width: 25%;
  height: 20vh;
  box-sizing: border-box;
  overflow: auto
}
.cards_notDone:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}

.btn{
  border: 1px solid black !important;
}

.inputFilter{
  padding: 5px;
}