.postContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap;
}

.post {
  margin: 8em;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
  max-width: 35em;
  background: white;
  font-size: 12px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.1),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.post:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}

.post-header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.post-header p {
  margin: auto;
}

.post-content p {
  text-align: justify;
  margin-top: 16px;
}

.post-content hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 0;
}

.user-name {
  font-weight: bold;
  margin-left: 10px;
}

.time {
  text-align: right;
  width: 100%;
  color: #ccc;
}

.post-content {
  padding: 10px;
}

.title {
  font-weight: bold;
  text-transform: capitalize;
}

.hashtag {
  color: #4a5279;
  margin-right: 5px;
  display: inline;
}
